button {
  color: limegreen;
  border: 2px solid limegreen;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border-radius: 3px;
  width: 300px
}

@media (min-width: 768px) {
    button {
        width: 500px;
    }
}

button:hover {
  opacity: 0.5;
}


.invalid {
    border-color: red;
}